body {

}

#content {
     margin-left: 20px;
}

.input-body {
	width: 30%;
	height: 20%;
}

.center {
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
	margin: auto;
}

.card {
	height: auto;
	width: 75%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

textarea.card-text {
	resize: none;
	border: none;
    outline: none;
	background-color: white;
	width: 100%;
	overflow: none;
	height: 25px;
}

.show-more-button {
	position: relative;
	font-size: 10px;
	visibility: hidden;
}

#post-mode-navbar {
	margin-left: 44%;
}