body {

}

#content {
     margin-left: 20px;
}

.input-body {
	width: 30%;
	height: 20%;
}

.center {
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
	margin: auto;
}

.card {
	height: 175px;
	width: 75%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

textarea.card-text {
	resize: none;
	border: none;
    outline: none;
	background-color: white;
	width: 70%;
	overflow:auto;
}

#post-mode-navbar {
	margin-left:44%;
}