body {

}

#content {
     margin-left: 20px;
}

.input-body {
	width: 30%;
	height: 20%;
}

.center {
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
	margin: auto;
}

.card {
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}