{% extends "layout.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
  <h1>Chair Forum</h1>

	<!-- Test Bootstrap Card -->
	<!-- Linking bootstrap, will remove later when testing is done, I only linked it to work on the post cards without running the webapp -->
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
  
	<!-- <div class="card center" style="width: 18rem;"> -->
		<!-- <div class="card-body"> -->
			<!-- <h2 class="card-title">Test Title</h2> -->
			<!-- <h6 class="card-subtitle mb-2 text-muted">Author</h6> -->
			<!-- <p class="card-text">Test Message Body</p> -->
		<!-- </div> -->
	<!-- </div> -->
	
	
	{% for post in posts %}
		<div class="card center" style="width: 18rem;">
			<div class="card-body left">
				<h2 class="card-title">{{ post.title|e }}</h2>
				<p class="card-text">{{ post.message|e }}</p>
				<h6 class="card-subtitle mb-2 text-muted">{{ post.username|e }}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{ post.uid|e }}</h6>
			</div>
		</div>
		<br>
	{% endfor %}
{% endblock %}
