{% extends "layout.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="static/posts.js"></script>
	<h1 class="center">Chair Forum</h1>
	<br>
	<br>
	
	
	<nav class="navbar">
	  <!-- <div class="container"> -->
		

		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
		<!-- <div class=""> -->
		  <ul class="nav navbar-nav" id="post-mode-navbar">
			<li><a href="/latest">Latest</a></li>
			<li><a href="/oldest">Oldest</a></li>
			<li><a href="/random">Random</a></li>
		  </ul>
		<!-- </div> -->
		<!-- </div><!-- /.navbar-collapse --> 
	  <!-- </div><!-- /.container-fluid -->
	</nav>

	
	{% for post in posts %}
		<div class="card center">
			<div class="card-body left">
				<p hidden class="post_id">{{ post['_id']|e }}</p>
				<h2 class="card-title">{{ post.title|e }}</h2>
				<div class="post-body">
					<textarea class="card-text" rows="1" disabled>{{ post.message|e }}</textarea>
					<button class="show-more-button" type="button">Show More</button>
				</div>
				<h6 class="card-subtitle mb-2 text-muted username">{{ post.datetime|e }}</h6>
				<h6 class="card-subtitle mb-2 text-muted username">{{ post.username|e }}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{ post.uid|e }}</h6>
			</div>
			{% if is_admin %}
				<form action="/delete_post" method="post">
					<div class="card-body right">
						<input type="hidden" name="post_id" value="{{post['_id']}}">
						<button type="submit" class="deletor">Delete Post</button>
					</div>
				</form>
			{% endif %}
		</div>
		<br>
	{% endfor %}
{% endblock %}
